PORT=3001
DB_HOST=localhost
DB_PORT=3306
DB_NAME=marspy
DB_USER=root
DB_PASSWORD=yourpassword
JWT_SECRET=change_this_secret_in_production
NODE_ENV=development
GEMINI_API_KEY= -- Pon aqui tu API Key de las llamadas a Gemini AI --
GEMINI_MODEL=gemini-3-flash-preview